/*Navbar*/
* {
	margin: 0;
	padding: 0;
}

/* .container-fluid {
	background-color: #84a7a1;
	margin: -8px;
} */

nav ul {
	width: 40%;
	justify-content: space-evenly;
}

.container-fluid ul li a {
	font-size: larger;
	font-family: "Merriweather", serif;
}

.container-fluid ul li a:hover {
	color: #041562;
	background-color: #fff;
}

.container-fluid ul li .dropdown-item:hover {
	background-color: #041562;
	color: #fff;
}

/* search */
#category {
	padding-top: 110px;
	width: 60rem;
}

form {
	width: 400px;
	margin-left: -13px;
}

form .kolom {
	margin-left: -90px;
	width: 260px;
	height: 40px;
	border-radius: 7px;
	font-family: "Lora", serif;
}

.submit {
	margin-left: 10px;
	width: 80px;
	height: 35px;
	border-radius: 7px;
	font-family: "Lora", serif;
}

.submit:hover {
	background-color: green;
	color: white;
}

.submit:active {
	box-sizing: border-box;
	border: 3px solid black;
	box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.35);
}

#list {
	margin-left: -40px;
	font-family: "Lora", serif;
}

#list h4 {
	font-size: 30px;
	color: black;
}

#list :hover {
	text-decoration: underline;
}

/* isi container */

table {
	margin: auto;
}
table,
tr,
th {
	border: 1px solid #000000;
	padding-left: 50px;
}
/* edit barang */

/* footer */
/* .footer {
	background-color: #0779e3;
} */
.footer {
	margin-top: 700px;
}
.footer .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.column {
	flex: 1;
	text-align: center;
	font-family: "Lora", serif;
}

footer .content h3 {
	font-size: 30px;
}

footer .content .bi {
	position: absolute;
	margin-left: -18.5rem;
	font-size: 1.4375rem;
	color: black;
	background-color: #84a7a1;
	height: 40px;
	width: 35px;
	margin-top: -10px;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
}

footer .content .nomor {
	position: absolute;
	display: flex;
	float: right;
	margin-top: 3px;
	padding-left: 31rem;
}

footer .content .bi:hover {
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
	background-color: #d0011b;
	color: white;
}

footer .content p {
	font-size: 16px;
}

center a {
	color: #d7dfff;
	text-decoration: none;
}

/* ukuran tablet aan mobile */
@media (max-width: 768px) {
	nav {
		margin-top: -10px;
	}

	/* search */
	#category {
		width: 25rem;
		padding-top: 110px;
	}

	form .kolom {
		margin-left: -20px;
	}

	#list {
		margin-top: 35px;
	}

	.center-card {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	/* footer */
	footer {
		width: 100%;
	}

	footer .content h3 {
		font-size: 27px;
	}

	footer .content p {
		font-size: 14px;
	}

	footer .content .bi {
		margin-left: -120px;
	}

	footer .content .nomor {
		margin-top: 1px;
		margin-left: -397px;
	}
}
